 #dnn_FooterPaneA{background-color:#000000;}#dnn_FooterPaneB{background-color:#000000;}#dnn_FooterPaneC{background-color:#000000;}#dnn_FooterPaneD{background-color:#000000;}#footerinfo628747,
	#footerinfo628747 a,  
	#footerinfo628747 a:link,   
	#footerinfo628747 a:active,   
	#footerinfo628747 a:visited{color:#ffffff;font-size:12px;}
		#footerinfo628747 .sep{
			margin:0px 5px;
		}
		
		#footerinfo628747 a:hover{
			color: var(--accent-color);
			text-decoration: none;
		}#dnn_FooterPaneE{background-color:#000000;}#row-514475{background-color:rgba(30,30,30,1)!important;}
			#row-514475,
			#row-514475 .Normal{color:rgba(255,255,255,1);}#row-781151{padding-top:25px;padding-bottom:25px;}#row-781151{background-color:rgba(18,18,18,1)!important;}
			#row-781151,
			#row-781151 .Normal{color:rgba(170,170,170,1);}